* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #444, #989);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: rgba(0, 0, 0, 0.3);
    color: #aaa;
    margin: 100px auto 20px;
    padding: 40px 30px;
    border-radius: 10px;
    z-index: 10px;
    box-shadow: 10px 10px 12px 9px rgba(255, 255, 255, 0.2);
}

.todo-app h1 {
    color: aliceblue;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app img {
    width: 30px;
    margin-left: 10px;
    border-radius: 5px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.row input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
}

.row button {
    border: none;
    outline: none;
    padding: 16px 50px;
    border-radius: 40px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    background: rgba(80, 255, 100, 0.9); 
}

.row button:hover {
    background: radial-gradient(circle, rgba(55, 255, 55, 0.8) 100%, rgba(55, 255, 55, 0.6) 100%);}

ul li {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(images/circle.png);
    background-size: cover;
    background-position: center;
    top: 11px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    top: 5px;
    right: 0;
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.9);
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #f00;
    text-shadow: 0 0 20px #f00, 0 0 10px #f00;    
}